.optimize-container {
  margin-left: 120px;
  margin-top: 40px;
}

.main-title {
  font-size: 32px;
}

.algorithm {
  margin-bottom: 40px;
  min-height: 300px;
}

.function,
.variables,
.error,
.types {
  position: relative;
  width: 30%;
  margin-bottom: 16px;
}

.algorithm-function {
  width: 24rem;
}

.text-inside {
  position: absolute;
  padding: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  background-color: var(--primary-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  text-align: center;
  min-width: 40px;
  max-height: 40px;
}

.example {
  font-size: 14px;
  font-style: italic;
}

.algorithm-variable {
  width: 8rem;
  margin-right: 16px;
}

.algorithm-error {
  width: 8rem;
}

.types {
  display: flex;
}

.algorithm-type {
  display: flex;
  align-items: center;
  min-width: 8rem;
  font-size: 20px;
}

.algorithm-type > input {
  width: 20px;
  margin-right: 8px;
}

.algorithm-submit {
  width: 24rem;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}

.algorithm-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* SOLUTION */
.step {
  margin-top: 16px;
}

.substep {
  font-weight: 300;
  margin: 10px 36px;
}

table {
  width: 90%;
}

table,
th,
td {
  text-align: center;
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  max-width: 40px;
  overflow: scroll;
  padding: 8px;
  /* overflow-y: hidden;
    overflow-x: hidden; */
}

th::-webkit-scrollbar {
  display: none;
}

td::-webkit-scrollbar {
  display: none;
}
