:root {
  --primary-color: #202020;
  --brand-size: 30px;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

html {
  position: relative;
  background-color: #303030;
  font-family: "Kanit", sans-serif;
  color: white;
}

input {
  padding: 8px 8px 8px 44px;
  height: 40px;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid black;
}

::-webkit-input-placeholder { /* Edge */
  font-size: 14px;
  transform: translateY(8%);
  
}